/*-------------------------------------------------*/
/* Colores */
:root {
  --primary-color: #001027;
  --text-color: #333;
}

/*-------------------------------------------------*/
/* Elementos basicos */

html {
  /*10 px = 1rem*/
  font-size: 62.5%;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 4.8rem;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-size: 3.6rem;
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  background: linear-gradient(135deg, #fdfdfd, #ffffff);
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

/*-------------------------------------------------*/
