<nav class="main-nav" [class.light-nav]="light">
  <a routerLink="/" class="brand-link" aria-label="Normalitec SC">
    <img
      src="content/img/logo_ntec.svg"
      alt="Logo Normalitec SC"
      class="logoNTEC"
    />
  </a>

  <ul class="nav-links">
    <li *ngFor="let item of navItems" class="nav-item" [class.has-children]="item.children?.length">
      @if (item.children?.length) {
        <div class="nav-dropdown">
          <a
            [routerLink]="item.route"
            routerLinkActive="is-active"
            class="nav-trigger"
          >
            {{ item.label }}
          </a>
          <div class="dropdown-menu">
            <a
              *ngFor="let child of item.children"
              [routerLink]="child.route"
              routerLinkActive="is-active"
              class="dropdown-link"
            >
              {{ child.label }}
            </a>
          </div>
        </div>
      } @else {
        <a
          [routerLink]="item.route"
          routerLinkActive="is-active"
          [routerLinkActiveOptions]="{ exact: item.route === '/' }"
        >
          {{ item.label }}
        </a>
      }
    </li>
  </ul>
</nav>
